@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Croissant+One&family=Montserrat:wght@300&display=swap');
.body{
    background-color: #725353;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 66px;
    background:linear-gradient(rgb(224, 191, 100),rgb(178, 231, 128))
}
.row{
    margin: 8px 0;
}
.row input{
    margin: 0;
    width: 291px;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 23px;
    background-color: rgb(204, 216, 227);
}